virtualenv
django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2
psycopg2-binary
python-dotenv
django-allauth
django-crispy-forms
django_countries
coreapi
setuptools
pytest
pytest-django
pkg_resources